.docMainContainer {
  display: flex;
  width: 100%;
  margin-left: 0px;
/*  box-shadow: var(--ifm-global-shadow-lw); */
}

article,
.paper {
  margin: 0 calc(var(--ifm-spacing-horizontal) * -0.5);
  margin-bottom: calc(var(--ifm-paragraph-margin-bottom) * 1.5);
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  background-color: var(--ifm-background-surface-color);
  border-radius: var(--ifm-card-border-radius);
/*  box-shadow: var(--ifm-global-shadow-lw); */
}


@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}
