.logoTable {
  border: none;
  width: 100%;
}

.logoTr {
  border: none;
  width: 100%;
}

.logoTdLeft {
  border: none;
  width: 15%;
  text-align: center;
}

.logoTdRight {
  border: none;
  width: 85%;
}
