.modal {
  max-width: 95vw;
  max-height: 300px;
}

.modal-header {
  position: sticky;
  top: 0px;
  background-color: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  height: 30px;
}

.icon {
  display: inline-block;
}