@import url("//hello.myfonts.net/count/3af24c");


@font-face {
	font-family: 'Acre-Medium';
	src: url('/fonts/3AF24C_0_0.eot');
	src: url('/fonts/3AF24C_0_0.eot?#iefix') format('embedded-opentype'), url('/fonts/3AF24C_0_0.woff2') format('woff2'), url('/fonts/3AF24C_0_0.woff') format('woff'), url('/fonts/3AF24C_0_0.ttf') format('truetype');
}


@font-face {
	font-family: 'Acre-Bold';
	src: url('/fonts/3AF24C_1_0.eot');
	src: url('/fonts/3AF24C_1_0.eot?#iefix') format('embedded-opentype'), url('/fonts/3AF24C_1_0.woff2') format('woff2'), url('/fonts/3AF24C_1_0.woff') format('woff'), url('/fonts/3AF24C_1_0.ttf') format('truetype');
}


@font-face {
	font-family: 'Acre-Thin';
	src: url('/fonts/3AF24C_2_0.eot');
	src: url('/fonts/3AF24C_2_0.eot?#iefix') format('embedded-opentype'), url('/fonts/3AF24C_2_0.woff2') format('woff2'), url('/fonts/3AF24C_2_0.woff') format('woff'), url('/fonts/3AF24C_2_0.ttf') format('truetype');
}

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

:root {
    --black: black;
    --white: white;
    --cornflower-blue: #5077c5;
    --dark-gray: #b3bfcc;
    --light-gray: #f6f7fc;
    --adam-blue: #2c355b;
    --yellow: #ffc107;
    --neptune: #73bfbf;
    --beyond-blue: #3727d6;

    --font-thin: 'Acre-Thin', 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
    --font-medium: 'Acre-Medium', 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
    --font-bold: 'Acre-Bold', 'Futura', 'Trebuchet MS', 'Arial', sans-serif;


    --ifm-color-primary: #5077c5;
    --ifm-color-primary-dark: rgb(33, 175, 144);
    --ifm-color-primary-darker: rgb(31, 165, 136);
    --ifm-color-primary-darkest: rgb(26, 136, 112);
    --ifm-color-primary-light: rgb(70, 203, 174);
    --ifm-color-primary-lighter: rgb(102, 212, 189);
    --ifm-color-primary-lightest: rgb(146, 224, 208);
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: var(--font-medium);
    --ifm-heading-font-weight: normal;
    --ifm-font-size-base: 100%;
    --ifm-button-font-weight: normal;
    --ifm-footer-background-color: var(--adam-blue);
}

body {
    background: var(--white);
    line-height: 1.4;
    color: var(--black);
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
}

b,
strong {
    font-weight: normal;
    font-family: var(--font-bold);
}

.button {
    font-family: var(--font-bold);
}

.navbar {
  height: 95px;
}

.navbar__title {
  font-size: 140%;
}

.navbar__logo {
  width: 3em;
  height: 3em;
}

.navbar__item {
  font-size: 110%;
}

.hero {
    background-image: radial-gradient(ellipse at bottom right, var(--neptune) 0%, var(--cornflower-blue) 70%);
  /* background-image: url("/static/img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: saturation; */
}

.square {
  padding: 16px !important;
  display: flex;
  position: relative;
  margin-top: 1em;
  border-radius: 0.5em;
}

.square:hover {
  box-shadow: rgba(3,27,78,.1)0 10px 20px!important;
  background-color: #fff !important;
  transform: scale(1.01);
  cursor: pointer;
}

html[data-theme="dark"] .square:hover {
  box-shadow: rgba(3,27,78,.1)0 10px 20px!important;
  background-color: #000 !important;
  transform: scale(1.01);
  cursor: pointer;
}

.menu {
  background-color: #35afe508;
}

.card__link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 0;
  max-width: 100%;
  display: inline-block;
}

.card__svg{

}

.card__title {
  color: #5077c5;
  font-weight: bold;
}

.card__body {
  color: --ifm-color-primary-lightest;
}

/* @font-face {
  font-family: acre;
  src: url(/font/acre.otf);
} */

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(44, 53, 91, 0.3);

}

.footer--dark {
    background-color: var(--adam-blue);
}
