.modal {
  max-width: 95vw;
  max-height: 300px;
}

.container {
  position: relative;
  overflow: scroll;
}

.icon {
  display: inline-block;
}

.code-block {
  z-index: -1;
}

@media (prefers-color-scheme: light) {
  .modal-header {
    position: sticky;
    top: 0px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0;
    z-index: 100;
  }
}

@media (prefers-color-scheme: dark) {
  .modal-header {
    position: sticky;
    top: 0px;
    background-color: #1b1b1d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0;
    z-index: 100;
  }
}